<div class="info-block">

  <h1>Informacion de Pintura</h1>

  <div class="add-form">
      <form ngNativeValidate (ngSubmit)="onSubmit()">
        <label for="Nombre" class="label-field">Nombre</label>
        <input class="add-field" type="text" name="paint.name" placeholder="Nombre" [value]="paint.name" [(ngModel)]="paint.name" required>
        <label for="Autor" class="label-field">Autor</label>
        <input class="add-field" type="text" name="paint.author" placeholder="Autor" [value]="paint.author" [(ngModel)]="paint.author" required><br>
        <label for="Año" class="label-field">Año</label>
        <input class="add-field" type="text" name="paint.year" placeholder="Año" [value]="paint.year" [(ngModel)]="paint.year" required>
        <label for="Estilo" class="label-field">Estilo</label>
        <input class="add-field" type="text" name="paint.style" placeholder="Estilo" [value]="paint.style" [(ngModel)]="paint.style" required><br>
        <label for="Pais" class="label-field">Pais</label>
        <input class="add-field" type="text" name="paint.country" placeholder="Pais" [value]="paint.country" [(ngModel)]="paint.country" required><br>
        <label for="Descripción" class="label-text-field">Descripción</label>
        <textarea class="text-area-field" type="text" name="paint.description" [value]="paint.description" [(ngModel)]="paint.description" required>
        </textarea>
        <input class="submit-field" type="submit" value="Editar Pintura">
      </form>
    </div>
  
</div>
  
