
<div class="add-block">

    <h1>Añadir Pintura</h1>
  
    <div class="add-form">
      <form ngNativeValidate (ngSubmit)="onSubmit()">
        <label for="Nombre" class="label-field">Nombre</label>
        <input class="add-field" type="text" name="name" placeholder="Nombre" [(ngModel)]="name" required>
        <label for="Autor" class="label-field">Autor</label>
        <input class="add-field" type="text" name="author" placeholder="Autor" [(ngModel)]="author" required><br>
        <label for="Año" class="label-field">Año</label>
        <input class="add-field" type="text" name="year" placeholder="Año" [(ngModel)]="year" required>
        <label for="Estilo" class="label-field">Estilo</label>
        <input class="add-field" type="text" name="style" placeholder="Estilo" [(ngModel)]="style" required><br>
        <label for="Pais" class="label-field">Pais</label>
        <input class="add-field" type="text" name="country" placeholder="Pais" [(ngModel)]="country" required><br>
        <label for="Descripción" class="label-text-field">Descripción</label>
        <textarea class="text-area-field" type="text" name="description" [(ngModel)]="description" required>
        </textarea>
        <input class="submit-field" type="submit" value="Crear Pintura">
      </form>
    </div>
    
  </div>
