
.add-block{
    width: 70%;
    height: 520px;
    background-color: #202020;
    margin: 1.5rem auto;
    border-radius: 1rem;
    
    h1{
        text-align: center;
        font-family: 'Press Start 2P';
        color: #FF530D;
        position: relative;
        top: 1.2rem;
    }

    table{
        color: white;
        margin: 2rem auto;
        font-family: 'Open Sans';
    }
}

.add-form{
    width: 80%;
    position: relative;
    top: 3rem;
    left: 9%;

    .add-field[type=text]{
        display: inline-block;
        font-family: 'Open Sans';
        font-size: 1rem;
        padding: 0.3rem 1rem;
        border: none;
        border-radius: 0.5rem;
        margin-left: 1rem;
        margin-top: 1rem;
    }

    .text-field{
        width: 100%;
        font-family: 'Open Sans';
        font-size: 1rem;
        padding: 0.3rem 1rem;
        border: none;
        border-radius: 0.5rem;
    }

    .label-text-field{
        font-family: 'Open Sans';
        color: #FF530D;
        font-size: 1.4rem;
        padding-top: 2rem;
        margin-top: 1rem;
    }

    .label-field{
        font-family: 'Open Sans';
        color: #FF530D;
        font-size: 1.4rem;
        margin-left: 1rem;
    }

    .text-area-field{
        width: 100%;
        height: 150px;
        font-family: 'Open Sans';
        font-size: 1rem;
        padding: 0.3rem 1rem;
        border: none;
        border-radius: 0.5rem;
        resize: none;
    }

    .submit-field{
        font-family: 'Open Sans';
        font-size: 1rem;
        padding: 0.3rem 1rem;
        border: none;
        border-radius: 0.5rem;
        margin-top: 1rem;
        background-color: #FF530D;
        cursor: pointer;
        transition: 0.3s all;

        &:hover{
            background-color: #404040;
        }
    }
}