
.list-block{
    width: 70%;
    height: 650px;
    background-color: #202020;
    margin: 1.5rem auto;
    border-radius: 1rem;
    
    h1{
        text-align: center;
        font-family: 'Press Start 2P';
        color: #FF530D;
        position: relative;
        top: 1.2rem;
    }

    table{
        color: white;
        margin: 2rem auto;
        font-family: 'Open Sans';
    }
}

.list{

    th{
        height: 2rem;
        font-size: 1.3rem;
    }

    th, td{
        padding: 5px 10px;
    }

    td{
        font-size: 1,1rem;
    }

    .linkIcon{
        display: flex;
        justify-content: center;
        font-size: 1.6rem;
        transition: 0.4s all;
        color: #FF530D;
        cursor: pointer;

        &:hover{
            color: #606060; 
        }
    }
}