
<div class="list-block">

  <h1>Lista de pinturas</h1>

  <div class="list">
    <table >
      <tr>
          <th>Nombre</th>
          <th>Author</th>
          <th>Año</th>
          <th>Estilo</th>
          <th>Editar</th>
          <th>Borrar</th>
      </tr>
      <tr *ngFor="let paint of paintings">
        <td>{{paint.name}}</td>
        <td>{{paint.author}}</td>
        <td>{{paint.year}}</td>
        <td>{{paint.style}}</td>
        <td><a (click)="editPaint(paint._id)" class="fa fa-pencil linkIcon"></a></td>
        <td><a (click)="deletePaint(paint._id)" class="fa fa-times-circle-o linkIcon"></a></td>
      </tr>
    </table>

  </div>
</div>
