
.head-block{
    width: 100%;
    height: 70px;
    background-color: #FF530D;
}

.headTitle{
    display: inline-block;
    cursor: pointer;

    .main-icon{
        font-size: 3rem;
        position: absolute;
        top: 0.7rem;
        left: 15%;
        color: #303030;
        transition: all .5s;

        &:hover{
            color: #505050;
        }
    }

    .textTitle{
        font-family: 'Press Start 2P';
        font-size: 2rem;
        position: absolute;
        top: 1.3rem;
        left: 20%;
        transition: all .5s;
        color: #303030;

        &:hover{
            color: #505050;
        }
    }
}

nav{
    display: inline-block;
    position: absolute;
    top: 1.1rem;
    left: 60%;

    .navMenu{
        font-family: 'Open Sans';
        font-size: 1.5rem;
        color: #303030;
        list-style-type: none;
        text-decoration: none;
        transition: all .5s;
        padding: 1rem;

        &:hover{
            color: #505050;
        }
    }
}
