
<div class="head-block">
  <div class="headTitle">
    <i class="fa fa-diamond main-icon"></i>
    <h1 class="textTitle">PixMuseum</h1>
  </div>
  <nav>
    <a class="navMenu" routerLink="/"> <i class="fa fa-home"></i> Home</a>
    <a class="navMenu" routerLink="/add"> <i class="fa fa-file-picture-o"></i> Añadir Pintura</a>    
  </nav>
</div>
